/* Contact Section */
#contact {
  /* padding: 50px 0; */
  margin-bottom: 4%;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* gap: 40px; */
}
#contact-title {
  /* flex: 0 0 100%;
  max-width: 100%; */
  margin-bottom: 4px;
  /* margin-top: 90px; */
}

.contact-details,
.contact-form {
  flex: 1;
  padding: 0 20px;
}
.contact-details {
  /* box-shadow: 0 0 80px rgba(0,0,0, .3); */
  border-radius: 10px;
  height: 400px;
  background-size: cover;
  background-position: top;
  padding: 35px;
  /* background: linear-gradient(to bottom, rgb(5,85,134), rgba(181,181,181, -0.20)); */
  
  background-image: linear-gradient(to right bottom, #ffffff, #f4f5fb, #e6ebf7, #d6e3f3, #c3dbee);
}

.contact-details h3,
.contact-form h3 {
  margin-bottom: 20px;
}

.contact-details ul {
  list-style: none;
  padding: 0;
}

.contact-details ul li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #522121;
}
li strong {
  font-weight: 200;
}

.contact-details ul li a {
  color: #354d81;
}

.contact-form form {
  max-width: 400px;
  /* margin: auto; */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #a59300;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }
  .contact-details,
  .contact-form {
    padding: 1px;
    /* width: 100%; */
  } 
  #contact {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7%;
  }
  #contact-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 4px;
    /* margin-top: 90px; */
}

  .contact-details,
.contact-form {
  flex: 1;
  padding: 0 20px;
}
.contact-details {
  /* box-shadow: 0 0 100px rgba(0,0,0, .3); */
  border-radius: 10px;
  height: 400px;
  background-size: cover;
  background-position: top;
  padding: 20px;
}
.contact-details ul li {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #522121;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 40px;
  }
  .contact-details,
  .contact-form {
    padding: 25px;
    /* width: 100%; */
  }
  .contact-details ul li {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #522121;
}
}
@media only screen and (min-width: 768px) and (max-width: 968px) {
  .contact-container {
    flex-direction: column;
    gap: 40px;
  }
  .contact-details,
  .contact-form {
    padding: 35px;
    /* width: 100%; */
  }
  .contact-details ul li {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #522121;
}
}






.div-social-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0;
  font-size: 20px;
  /* opacity: 0.6; */
}

.contact-social-icons li {
  list-style-type: none;
}

.contact-social-icons a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}



.contact-social-icons li a i.fa-whatsapp {
  color: #1ba562; /* LinkedIn color */
}
.contact-social-icons li a i.fa-linkedin {
  color: #0077b5; /* LinkedIn color */
}

.contact-social-icons li a i.fa-github {
  color: #181717; /* GitHub color */
}

.contact-social-icons li a i.fa-dev {
  color: #0a0a0a; /* Dev.to color */
}

.contact-social-icons li a i.fa-instagram {
  color: #bc2a8d; /* Instagram color */
}
.contact-social-icons li a i.fa-twitter {
  color: #1da1f2; /* Twitter color */
}


/* Style each individual icon when hovered */
.contact-social-icons li a:hover i.fa-whatsapp {
  color: #23d51a; /* LinkedIn color */
}
.contact-social-icons li a:hover i.fa-linkedin {
  color: #001bb5; /* LinkedIn color */
}

.contact-social-icons li a:hover i.fa-github {
  color: #181717; /* GitHub color */
}

.contact-social-icons li a:hover i.fa-dev {
  color: #0a0a0a; /* Dev.to color */
}

.contact-social-icons li a:hover i.fa-instagram {
  color: #f01a2c; /* Instagram color */
}

.contact-social-icons li a:hover i.fa-twitter {
  color: #070707; /* Twitter color */
}

.contact-social-icons a i {
  margin: 1px;
}

.div-social-icons ul {
  display: flex;
  list-style-type: none;
  /* margin: 10px;; */
  /* padding: 10px; */
  /* white-space: 10px; */
  justify-content: flex-start;
  /* padding: 10px; */
}

.div-social-icons li {
  padding: 8px;  
}


.contact-details-data i {
  padding-right: 8px;
  color: #1f2128;
  font-size: 16px;
}









.inputBox {
  margin-bottom: 20px;
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #212121;
  border: 1px solid#212121;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: #e8e8e8;
  letter-spacing: 1px;
  border: 1px solid #212121;
  color: #212121;
}















.follow-me-heading {
  font-size: 1.5rem;
  color: #333; 
  margin-bottom: 1rem;
  
}

.contact-details p {
  font-size: 1.1rem;
  color: #241614;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-style: italic;
}

.contact-details p i {
  margin-right: 0.5rem;
}

.contact-details p span i {
  font-size: 1.2rem;
  color: rgb(236, 53, 53); 
  margin-left: 0.5rem;
}
