
/* .education-link{        
        padding: 80px 0;
} */
.education-link {
    /* min-height: 100vh; */
    padding: 90px 0;
 }

 @media only screen and (max-width: 700px) {
    #education {
        margin-left: 2%;
        margin-right: 5%;
        /* padding: 0%; */
    }
    /* .education-link {
        min-height: 100vh;
        padding: 40px 0;
     } */
}


#education-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    /* margin-top: 90px; */
}

#bachelors{
    /* margin-top: 100px; */
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border: 1.5px solid #a4abc9;
    padding-left: 36px;
    border-radius: 20px;
    background: white;
    /* border: 5px solid #ebedf5; */
    padding: 21px;
    box-sizing: border-box;
}

#bachelors:hover {
    border-color: rgb(70, 136, 143);
    /* border: 3px solid #ebedf5; */
}
#intermediate {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 36px;
    border-radius: 20px;
    background: white;
    border: 3.5px solid #ebedf5;
    padding: 21px;
}


#intermediate:hover {
    /* border-color: rgb(161, 155, 151); */
    border-color: rgb(70, 136, 143);
}

#school {
    margin-top: 2%;
    margin-bottom: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 36px;
    border-radius: 20px;
    background: white;
    border: 4.5px solid #ebedf5;
    padding: 21px;
}

#school:hover {
    /* border-color: rgb(161, 155, 151); */
    border-color: rgb(70, 136, 143);
}

.EduContainer span.Degree {
    /* font-weight: bold;     */
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
/* (Btech) CSS */
.btech {
    /* color:silver; */
    font-weight: 400;
    color: rgb(31, 25, 25);
    /* color: silver; */
}

.EduContainer .UniversityName {
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3c417a;
    margin-top: 2%;
}
 .DateFrom-To {
    margin-left: 70%;
    font-style: italic;
    font-size: 16px;
    color: gray;
    margin-top: -3%;
}
.EduContainer .UniversityLocation {
    margin-left: 70%;
    font-style: italic;
    font-size: 15px;
    color: #c75353;
    margin-top: -3%;
    /* right: 0; */
    /* text-decoration: none; */
}
.EduContainer #bachelors .Branch {
   
    margin-top: 2%;
    font-size:21px;
    font-weight: bold
    /* right: 0; */
    /* text-decoration: none; */
}
@media(max-width:768px){
    #bachelors ,#intermediate, #school {
        margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 1%;
        margin-right: 1%;
        /* border: 2px solid #a4abc9; */
        padding-left: 36px;
        border-radius: 20px;
        background: white;
        border: 5px solid #ebedf5;
        padding: 21px;
    }
    .EduContainer .UniversityName {
        font-weight: 300;
        font-size: 14px;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        color: #379bb1;
        margin-top: 2%;
    }
    .EduContainer .UniversityLocation {
        margin-left: 40%;
        font-style: italic;
        font-size: 13px;
        color: #c75353;
        margin-top: 0%;
        /* right: 0; */
        /* text-decoration: none; */
    } 
    .EduContainer span.Degree {
        /* font-weight: bold;     */
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
    }
    /* (Btech) CSS */
    .btech {
        /* color:silver; */
        font-weight: 200;
        color: rgb(31, 25, 25);
        /* color: silver; */
    }  
    .EduContainer #bachelors .Branch {
   
        margin-top: 2%;
        font-size:13px;
        font-weight: bold
        /* right: 0; */
        /* text-decoration: none; */
    }
}

@media (max-width:428px){
    .DateFrom-To {
        margin-left: 30%;
        font-style: italic;
        font-size: 14px;
        color: gray;
        margin-top: 0%;
    } 
}
@media only screen and (min-width:429px) and (max-width:520px){
    .DateFrom-To {
        margin-left: 45%;
        font-style: italic;
        font-size: 14px;
        color: gray;
        margin-top: 0%;
    } 
}
@media only screen and (min-width:520px) and (max-width:868px){
    .DateFrom-To {
        margin-left: 52%;
        font-style: italic;
        font-size: 14px;
        color: gray;
        margin-top: 0%;
    } 
}
@media only screen and (min-width:869px) and (max-width:1108px){
    .DateFrom-To {
        margin-left: 70%;
        font-style: italic;
        font-size: 14px;
        color: gray;
        margin-top: 0%;
    } 
}



.Google-location {
    text-decoration: none;
    color: #c75353;
}


.EduContainer span.GPA {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #837c7c;
}

.EduContainer span.GPA-value {
    font-weight: bold;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #185c69;
}

.courses {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    color: #837c7c;
    margin-top: 5px;
}

.courses-bachelors {
    display: inline-block;
    margin-left: 90px;
    margin-top: -13px;
}

.courses-bachelors {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.courses-bachelors .course-box {
    background-color: rgb(255, 255, 255);
    border: 2px solid silver;
    /* border: 2px solid rgb(143, 61, 61); */
    border-radius: 5px;
    display: inline-block;
    /* width: calc(23% - 13px); */
    margin: 0 10px 10px 0;
    padding: 6px;
    text-align: center;
    color: black;
    opacity: 0.9;
}
.courses-bachelors .course-box{
    -webkit-box-shadow: inset 3px 3px 4px 2px #dddddd;
-moz-box-shadow: inset 3px 3px 4px 2px #dddddd;
box-shadow: inset 3px 3px 4px 2px #dddddd;
}




/* View-more button -down and up */
.education-link .EduContainer button {
    display: inline-block;
    /* padding: 10px 15px; */
    /* background-color: #999fa4; */
    /* color: rgb(35, 32, 32);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s ease;   
    margin-left: 90%;  */



    display: inline-block;
    /* padding: 10px 15px; */
    background-color: #ffffff;
    color: rgb(118 109 109);
    border: none;
    border-radius: -19px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
    margin-left: 90%;
    width: 52px;
    margin-top: -3%;
    border-color: aliceblue;
    transform: translate(27px, -14px);
  }
  
  .bachelors-button:hover {
    background-color: #8da8c6;
  }

  @media(max-width:720px){
    .education-link .EduContainer button {
        transform: translate(-20px, 0px);
      }
  }
 



