/* Footer Styles */
.site-footer {
  background-color: #ffffff;
  color: #1e2146;
  /* padding: 40px 0; */
  max-width: 100%;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container {
  flex: 1;
  padding: 0 20px;
}

.footer-container p {
  margin-bottom: 15px;
}


.footer-container p {
  text-align: center;
}