
/* Hide the button by default */

#top-icon.hidden {
    display: none;
}

#top-icon img {
    width: 40px;
    /* adjust as needed */
    height: 40px;
    /* adjust as needed */
}

/* Show the button when scrolled down 40cm or more */

#top-icon.visible {
    display: block;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 1000;
    width: 60px;
    /* adjust as needed */
    height: 60px;
    /* adjust as needed */
    animation: bounce 9.5s ease-in-out infinite;
}

/* Add a bounce animation */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }
}
