.home .content {
  flex: 1 1 40rem;
  /* z-index: 1; */
  float: left;
  margin: 0 auto;

}

@media (min-width: 1000px) {
  /* .home .content {
    flex: 1 1 40rem;    
    float: left;
    margin: 0 auto;
  } */
  #home {
    background-size: cover;
    background-position: center;
    /* min-height: calc(100vh - 80px); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    margin-top: 8%;
    margin-bottom: 111px;
  }

  .home .image {
    display: none;
  }

  .home .image1 {
    background-image: url('/assets/images/profile.png');
    width: 390px;
    height: 390px;
    align-items: center;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(360deg);    
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .home .image1:hover{
    transform: translateY(0) scale(1.1);
  }
  .home .image1{
    -webkit-box-shadow: -6.5px -6.5px 23px 1.5px #ddd;
    -moz-box-shadow: -6.5px -6.5px 23px 1.5px #ddd;
    box-shadow: -6.5px -6.5px 23px 1.5px #ddd;
  }
  .home .image1{
    -webkit-box-shadow: inset -6.5px -6.5px 23px -9.5px #000000;
    -moz-box-shadow: inset -6.5px -6.5px 23px -9.5px #000000;
    box-shadow: inset -6.5px -6.5px 23px -9.5px #000000;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .home .image1 {
    background-image: url('/assets/images/profile.png');
    width: 300px;
    height: 300px;
    align-items: center;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(360deg);    
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  #home {
    background-size: cover;
    background-position: center;
    /* min-height: calc(100vh - 80px); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    margin-top: 1%;
  }

  .home .content {
    flex: 1 1 auto;
    /* Remove the fixed width */
    float: none;
    /* Remove the float */
    margin-left: 0;
    margin-top: 60px;
  }

  .home .image1 {
    display: none;
  }

  .home .image {
    background-image: url('/assets/images/profile.png');
    width: 250px;
    height: 250px;
    align-items: center;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(360deg);
    ;
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .welcome-section {
    margin-top: 10%;
    text-align: center;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #home {
    background-size: cover;
    background-position: center;
    /* min-height: calc(100vh - 80px); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    margin-top: 10%;
  }

  .home .content {
    flex: 1 1 auto;  
    float: none;    
    margin-left: 0;    
  }

  .home .image1 {
    display: none;
  }

  .home .image {
    background-image: url('/assets/images/profile.png');
    width: 250px;
    align-items: center;
    height: 250px;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(360deg);
    ;
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .welcome-section,
  .socials {
    /* margin-top: 10%;
    text-align: center; */
    padding-left: 20px;
    /* margin-left: 30px; */
  }
}


@media (max-width: 480px) {
  .home .content {
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0;
  }

  #home {
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    /* padding-top: -101px; */
    margin-top: 15%;
    margin-right: 0;
    margin-left: 0;
  }

  .home .image1 {
    display: none;
  }

  .home .image {
    background-image: url('/assets/images/profile.png');
    width: 220px;
    align-items: center;
    height: 220px;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(360deg);    
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-left: 25px;
    margin-bottom: 40px;
  }
  .home .image:hover {
  background-image: url('/assets/images/profile.png');
    width: 250px;
    align-items: center;
    height: 250px;
    cursor: pointer;
    border-radius: 4%;
    margin-left: 0px;
    margin-bottom: 60px;
  }
}




/* Welcome Section Starts from here */
/* ################### */

.home .content h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #000000;
  padding: 0.3rem 0;
  margin-top: 1px;
  margin-bottom: 1px;

}

.home .content h2:hover {
  color: #000000;
}

.home .content h2 span {
  font-size: 2.9rem;
  font-weight: 600;
  color: #004984;
  padding: 0.5rem 0;
}

.home .content p {
  font-size: 1.9rem;
  color: rgb(180, 59, 59);
  font-weight: 600;
  padding: 0.5rem 0;
  margin-top: 10px;
}

.home .content p span {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 1rem 0;
}
.welcome-section .welcome-desc p{
  font-size: 1rem;
  
}


@media only screen and (max-width: 420px) {
  .home .content h2 {
    font-size: 1.3rem;
    font-weight: 200px;
    color: #000000;
    padding: 0.3rem 0;
    margin-top: 1px;
    margin-bottom: 1px;

  }

  .home .content h2 span {
    font-size: 2.2rem;
    font-weight: 500px;
    color: #004984;
    padding: 0.5rem 0;
  }

  .home .content p {
    font-size: 1.4rem;
    color: rgb(180, 59, 59);
    font-weight: 400;
    padding: 0.5rem 0;
    margin-top: 8px;
  }

  .home .content p span {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 1rem 0;
  }
  .welcome-section .welcome-desc p{
    font-size: 0.85rem;
    
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home .content h2 {
    font-size: 1.6rem;
    font-weight: 250px;
    color: #000000;
    padding: 0.6rem 0;
    margin-top: 10px;
    margin-bottom: 5px;

  }

  .home .content h2 span {
    font-size: 2.4rem;
    font-weight: 550px;
    color: #004984;
    padding: 0.5rem 0;
  }

  .home .content p {
    font-size: 2.0rem;
    color: rgb(180, 59, 59);
    font-weight: 600;
    padding: 0.7rem 0;
    margin-top: 7px;
  }

  .home .content p span {
    font-size: 1.65rem;
    color: rgb(133, 151, 175);
    font-weight: 600;
    padding: 1rem 0;
  }
  .welcome-section .welcome-desc p{
    font-size: 1rem;
    
  }
}
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    .home .content h2 {
      font-size: 2.0rem;
      font-weight: 250px;
      color: #000000;
      padding: 0.6rem 0;
      margin-top: 1px;
      margin-bottom: 15px;
  
    }
  
    .home .content h2 span {
      font-size: 2.6rem;
      font-weight: 550px;
      color: #004984;
      padding: 0.5rem 0;
    }
  
    .home .content p {
      font-size: 2.3rem;
      color: rgb(180, 59, 59);
      font-weight: 600;
      padding: 0.7rem 0;
      margin-top: 10px;
    }
  
    .home .content p span {
      font-size: 2.3rem;
      color: rgb(133, 151, 175);
      font-weight: 600;
      padding: 1rem 0;
    }
    .welcome-section .welcome-desc p{
      font-size: 1rem;
      
    }
  }


.typing-text {
  font-size: 1.95rem;
  /* border-right: 2px solid #ddd; */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s infinite;
  width: 180px;
  /* animation: typing 3s steps(40, end); */
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Welcome Section ENDs from here */
/* ################### */
/* ################### */




/* ################### */
/* About-me and Resume buttons starts here */
.btn_about-me {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_about-me:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


/* @media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
} */

/* about-me && resume buttons */
.about-me_resume_btn ul {
  padding: 0;
  list-style: none;
  margin-top: 15px;
}

.about-me_resume_btn li {
  display: inline-block;
  margin-right: 10px;
}

.about-me_resume_btn li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  font-size: 20px;
}

.about-me_resume_btn li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #333; */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.about-me_resume_btn li a:hover {
  /* color: #e15050; */
  border-radius: 0px;
}

.about-me_resume_btn li a:hover:before {
  transform: scaleX(1);
}

.about-me_resume_btn li .btn_about-me {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}
.about-me_resume_btn li .btn_about-me:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.about-me_resume_btn li .btn_about-me:not(hover) {
  transition: all 1s;
}

.about-me_resume_btn li .btn_Resume {
    background-color: #00646f;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    color: #ffffff;
}


/* Media Queries for about-me && resume buttons */

/* @media only screen and (max-width: 1000px) {
.about-me_resume_btn li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  font-size: 41px;
}
.about-me_resume_btn li {
  display: inline-block;
  margin-right: 10px;
  padding: 16px;
}
} */

@media (max-width: 420px) {
.about-me_resume_btn li a {
  text-decoration: none;
  color: #58313f;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  font-size: 13px;
}
.about-me_resume_btn li {
  display: inline-block;
  margin-right: 0px;
  /* padding: 10px; */
  margin-top: 4%;
}
}

@media (min-width: 421px) and (max-width: 768px) {
  .about-me_resume_btn li a {
    text-decoration: none;
    color: #58313f;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 15px;
  }
  .about-me_resume_btn li {
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
  }
}
/* Medium screens (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .about-me_resume_btn li a {
    text-decoration: none;
    color: #58313f;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  .about-me_resume_btn li {
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
  }
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .about-me_resume_btn li a {
    text-decoration: none;
    color: #58313f;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 16px;
  }
  .about-me_resume_btn li {
    display: inline-block;
    margin-right: 0px;
    /* padding: 10px; */
    margin-top: 4%;
  }
}

/* About-me and Resume buttons ends here */
/* #################### */
/* #################### */


/* social icons start here */
/* #################### */




.socials {
  position: relative;
  margin-top: 3rem;
  opacity: 0.9;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 1.8rem;
  display: inline-block;
  line-height: 45px;
  color: #27203c;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


/* Media Queries for social icons */
@media (max-width: 420px) {
  .socials {
      margin-top: 2rem;      
  }
  .socials {
    margin-left: 0%;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    display: none;
  }
  .social-icons a {
    font-size: 1.8rem;
    /* margin-right: 38px;
    margin-bottom: 2px;
    margin-top: 200px;
    padding: 20px; */
    width: 40px;
    margin-right: 4px;
  }
}

  /* @media only screen (max-width: 1000px) { 
  .socials {
    margin-left: 0%;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 300px;
    list-style: none;
  }
  .social-icons a {
    font-size: 8.8rem;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-top: 200px;
    padding: 20px;
  }
} */

@media only screen and (min-width: 769px) and (max-width: 1000px){
  .socials .social-icons {
    padding-left: 25%;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1000px){
  .socials {
    margin-left: 0%;
  }
  .socials .social-icons {
    /* padding-left: 0%; */
    margin-bottom: 100px;
    list-style: none;
  }
  .social-icons a {
    font-size: 1.8rem;
    display: inline-block;
    line-height: 45px;
    color: #27203c;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}

.social-icons .linkedin {
  color: #0e76a8; /* Set the color for the LinkedIn icon */
}

.social-icons .github {
  color: #333; /* Set the color for the GitHub icon */
}

.social-icons .dev {
  color: #0a0a0a; /* Set the color for the Dev icon */
}

.social-icons .instagram {
  color: #c13584; /* Set the color for the Instagram icon */
}

.social-icons .twitter {
  color: #1da1f2; /* Set the color for the Twitter icon */
}

.social-icons .telegram {
  color: #0088cc; /* Set the color for the Telegram icon */
}



/* .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #ffffff;
  background-color: #f1f7fa;
} */

/* .social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dev:hover {
  background-color: #070707;
}

.social-icons a.instagram:hover {
  background-color: #e839da;
}
.social-icons a.telegram:hover {
  background-color: #39b4e8;
} */


/* social icons ENDS here */
/* #################### */
/* #################### */






/* Current working styles */

.fadeup-enter-done {
  transition-delay: 500ms;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-slate);
}

::-webkit-scrollbar-thumb {
  background-color: var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-navy);
}

/* Additional styles */
a.email-link {
  color: var(--light-slate);
  text-decoration: none;
  transition: color 0.3s ease;
}

a.email-link:hover {
  color: var(--white);
}

.fadeup-enter-done {
  color: var(--green);
  /* background-color: #020c1b; */
  border: 1px solid var(--green);
  /* border-radius: 10px; */
  padding: 1.25rem 1.75rem;
}

a.email-link {
  color: #10284b;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  /* margin-right: 20px; */
  /* padding: 1.25rem 1.75rem; */
}

.Currently-working {
  /* border: 2px solid #64ffda;
  border-radius: var(--border-radius);
  margin-right: 30px;
  line-height: 2; */

  border: 1px solid #64ffda;
  border-radius: 33px;
  margin-right: 20px;
  line-height: 2;
  background: lightyellow;
  padding: 4px;
}



@media (max-width: 420px) {
  a.email-link {
    color: #10284b;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    /* margin-right: 20px; */
    /* padding: 1.25rem 1.75rem;     */
  }
  
  .Currently-working {
    /* border: 2px solid #64ffda; */
    /* border: 0px solid #64ffda;
    border-radius: var(--border-radius);
    margin-right: 20px;
    line-height: 1;
    background: bisque; */



        
        border: 1px solid #64ffda;
        border-radius: 33px;
        margin-right: 20px;
        line-height: 1;
        background: lightyellow;
        padding: 8px;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1000px){
  a.email-link {
    color: #10284b;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    /* margin-right: 20px; */
    padding: 1.25rem 1.75rem;
  }
  
  .Currently-working {
    /* border: 2px solid #64ffda;
    border-radius: var(--border-radius);
    margin-right: 20px;
    line-height: 1; */

    border: 1px solid #64ffda;
    border-radius: 33px;
    margin-right: 20px;
    line-height: 1;
    background: lightyellow;
    padding: 8px;

  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
  a.email-link {
    color: #10284b;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    /* margin-right: 20px; */
    padding: 1.25rem 1.75rem;
  }
  
  .Currently-working {
    /* border: 2px solid #64ffda;
    border-radius: var(--border-radius);
    margin-right: 20px;
    line-height: 1; */


    border: 1px solid #64ffda;
    border-radius: 33px;
    margin-right: 20px;
    line-height: 1;
    background: lightyellow;
    padding: 8px;
  }
}
