.project-link {
    /* min-height: 100vh; */
    /* padding: 80px 0; */
    padding-bottom: 50px;
    /* margin-top: 75px; */
    padding: 80px 0;

}
#projects-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    /* margin-top: 90px; */
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
      max-width: 100%;
      gap: 60px;
      padding: 10px;
  }
  @media only screen and (min-width: 1080px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
          max-width: 100%;
          gap: 30px;
          padding: 20px;
      }
  }


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 2px solid red;
    border: 1px solid transparent;
    /* border-color: darkolivegreen; */
    /* box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .card:hover {
    transform: scale(0.99);
    border: 1px solid #333;
    box-shadow: 0px 10px 20px 2px rgba(14, 19, 19, 0.7);
    /* box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3); */
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3),0px 10px 20px 2px rgba(8, 17, 21, 0.7);
  }
  .card .image:hover {
    transform: scale(1.05);
    mix-blend-mode: normal;
  }
  .card:hover .image {
    transform: scale(1.05);
    mix-blend-mode: normal;
  }
  
  .card a {
    text-decoration: none
  }
  



  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
  }

  .image {
    position: relative; 
    /* margin-left: 1rem;  */
    /* margin-right: 1rem;  */
    /* margin-bottom: 0.3rem; */
    height: 115px;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #fff; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    
    /* z-index: 3;
    transition: var(--transition);
    background-color: var(--navy); */
    mix-blend-mode: luminosity;

  }




  .project-content {
    background-color:#29586c;
    padding: 1.1rem;
    flex: 1;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }



  .card:hover{
    .project-content {
        background-color:#ffffff;
      }      
      .title {
        color: #000000;    
      }      
      .desc {    
        color: #29586c;    
      }
  }


  
  .card:hover{
    .desc {
        display: none;
    }
    .desc-full{
        display: block;
        margin-top: 0.5rem;
    /* color: #ffffff; */
    font-size: 0.875rem;
    line-height: 1.25rem;
    }
  }


  .desc-full{
    display: none;
  }

  .title {
    color: #e0d729;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  
  .action-content {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    gap: 22px;
    margin: auto;
  }
  
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .card:hover .action {    
    color: #ffffff;
    font-size: 0.975rem;    
    background-color: #000000;   
    padding: 5px 9px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }






 .card {
    transition: transform 0.3s ease;
    /* height: 300px;  */
  } 

  @media only screen and (min-width: 1080px) {
    .card {
        transition: transform 0.3s ease;
        height: 340px; 
      } 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
