section {
    margin-left: 250px;
    margin-right: 80px;
    /* background-color: #fbfbfd; */
}
/* #contact {
  margin-left: 11%;
  margin-right: 6%;  
} */

.section-title h2 {
  color: #566696;
  font-size: 30px;
}

/* Media query for screens up to 1000px */
@media only screen and (max-width: 1000px) {
    section {
        /* margin-left: 11%;
        margin-right: 5%; */
        margin-left: 11%;
    margin-right: 6%;
        padding: 0%;
    }
    .section-title h2 {
      color: #566696;
      font-size: 30px;
  }
}


/* Specific styles for the #education section within the media query */
@media only screen and (max-width: 700px) {
    /* #education {
        margin-left: 2%;
        margin-right: 5%;
        padding: 0%;
    } */
    #work-experience {
        margin-left: 2%;
        margin-right: 5%;
        padding: -1%;
    }
    #skills {
      margin-left: 2%;
      margin-right: 5%;
      padding: 0%;
  }
  section {
    /* margin-left: 11%;
    margin-right: 5%; */
    margin-left: 6%;
margin-right: 6%;
    padding: 0%;
}

.section-title h2 {
  color: #566696;
  font-size: 20px;
}

}



/* VY loading animation */
.vy-typing-animation {  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  /* font-weight: bold; */
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: 9999; /* Make sure it's on top of other elements */
}

.hidden-main {
  display: none;
}
/* VY loading animation ends here */


/* Setting background color transparent ,when clicking */

* {
  -webkit-tap-highlight-color: transparent;
}

/* for highlighting each item in nav-list */
.nav-list li a.active {
  background-color: #308e9a;
  /* color: #752626;  */
}